<div ng-app="fishyfishy">
	  <nav class="navbar navbar-default navbar-static-top">
	      <div class="container-fluid">
			<a href="#/summary">summary</a> | <a href="#/add">Add Fish</a>
	      </div>
  	</nav>
    <div ng-view=""></div>
</div>

