<div class="container">
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">
	    <a href="">Home</a>
	    <a href="">My Account</a>
	    <a href="">Catch Card Records</a>
	  </div>
	</nav>
	<div class="container center-align">
		<div class="row">
		<h1 class="text-center">New Registration</h1>
		<h5 class="text-center">Please fill out the fields below</h5>
	</div>
	<form class="form-horizontal" action="/register" method="POST" id="registration">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class="form-group">
		    <label for="inputFirstName3" class="sr-only">First Name</label>
		    <input type="name" class="form-control" id="inputFirstName3" placeholder="First Name" name="first_name">
		</div>
		<div class="form-group">
		    <label for="inputLastName3" class="sr-only">Last Name</label>
		    <input type="name" class="form-control" id="inputLastName3" placeholder="Last Name" name="last_name">
		</div>
		<div class="form-group">
		    <label for="inputEmail3" class="sr-only">Email</label>
		    <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
		</div>
		<div class="form-group">
		    <label for="inputPassword3" class="sr-only">Password</label>
		    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
		</div>
		<div class="form-group">
		    <label for="inputPassword4" class="sr-only">Password Confirmation</label>
		    <input type="password" class="form-control" id="inputPassword4" placeholder="Password Confirmation" name="password" name="password_confirmation">
		</div>
		<div class="form-group">
		    <label for="WildID" class="sr-only">Wild ID</label>
		    <input type="" class="form-control" id="WildID" placeholder="Wild ID" name="wild_id">
		</div>
		<div class="form-group">
		      	<button type="submit" class="btn btn-default">Sign in</button>
		</div>
	</form>
</div>